body {
	width: 1280px;
	padding: 0px;
	margin: 0 auto;
	background-color: #e6eaeb;
}

#top-bar {
	position: relative;
	width: 1280px;
	height: 6vh;
	background-color: #493d55;
	padding: 5px;
	color: white;
}

#nav-bar {
	float: left;
	width: 240px;
	height: 92vh;
	background-color: #51445e;
	padding: 15px;
	color: white;
}

#nav-bar span {
	padding-right: 10px;
}

#logo {
	position: absolute;
	font-size: 1.5em;
	padding-left: 15px;
}

#username {
	position: absolute;
	right: 0px;
	padding-right: 15px;
	padding-top: 5px;
}