body{
    background-color: #35a3dd;
}

header {
    color: whitesmoke;
    background-color: inherit;
    height: 80px;
    border-top: solid #101010 2px;
}


.land-logo{
    float: left;
    height: 30px;
    padding: 10px;
}

.land-logo img{
    height: 80px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}

.land-menu{
    float: right;
}

.land-menu ul{
    padding-top: 40px;
    padding-right: 20px;
    list-style: none;
}

.land-menu ul li{
    display: inline;
    padding-right: 30px;
}

.land-menu ul li a{
    text-transform: uppercase;
    color: white;
    font-size: 1.1em;
}

.land-menu ul li a:hover{
    color: #0c7cd5;
    border-bottom: 1px dashed white;
    text-decoration: none;
}

.board-land{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: inherit;
}

span.v{
    height: calc(100% - (80px + 100px));
    vertical-align: middle;
    display: inline-block;
}


.web-name{
    text-transform: uppercase;
    width: 590px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 4em;
    border: solid white 3px;
    border-radius: 50px;
    padding: 65px;
}

.qoute{
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 2em;
}

.join{
    padding-top: 100px;
    text-align: center;
}

.join a{
    color: #0c7cd5;
    padding: 10px 30px 10px 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}


.join a:hover{
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
}

footer{
    background-color: #101010;
    height: 100px;

    padding-top: 40px;
    text-align: center;
    color: #878787;
    font-size: 2.3em;
}